$primary: #ff7b00;
$secondary: #2f329d;
$primary-subtle: rgb(255, 202.2, 153);
$secondary-subtle: rgb(171.8, 173, 215.8);

html {
  scroll-behavior: smooth;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
}

#logo {
  height: 40px;
}

@media (max-width: 768px) {
  #logo {
    height: 30px;
  }
}

#navbar {
  height: 10vh;
  min-height: 40px;
}

// @media (max-width: 768px) {
//   #navbar {
//     height: 60px;
//   }
// }

#hero {
  object-position: right;
  object-fit: contain;
  width: 100%;
}

#footer_social_media {
  a {
    margin-right: 0.5rem;

    img {
      width: 30px;
      height: auto;
    }
  }

  a:last-child {
    margin-right: 0;
  }
}

.section-height {
  height: 85vh;
}

.back-to-top {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}

@import '../node_modules/bootstrap/scss/bootstrap.scss';
