$primary: #ff7b00;
$secondary: #2f329d;
$primary-subtle: rgb(255, 202.2, 153);
$secondary-subtle: rgb(171.8, 173, 215.8);
$success-subtle: rgb(163, 207, 186.6);

html {
  scroll-behavior: smooth;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
}

#logo {
  width: 70px;
  height: auto;
}

@media (max-width: 768px) {
  #logo {
    height: 30px;
  }
}

#navbar {
  height: 10vh;
  min-height: 40px;
}

// @media (max-width: 768px) {
//   #navbar {
//     height: 60px;
//   }
// }

#hero {
  object-position: right;
  object-fit: contain;
  width: 100%;
}

#footer_social_media{
  a{
    margin-right: 0.5rem;

    img{
      width: 30px;
      height: auto;
    }
  }

  a:last-child{
    margin-right: 0;
  }
}

@import '../node_modules/bootstrap/scss/bootstrap.scss';
